#wrapper {
    display: flex;
    justify-content: space-evenly;
}

label, input {
    display: block;
}

.submit {
    margin: 15px;
}
#errors {
    display: flex;
    justify-content: center;
    color: red;
}